<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-header text-center">
                    <h2>Host Event</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <label for="eventName" class="form-label">Event Name</label>
                            <input type="text" class="form-control" id="eventName" placeholder="Enter event name" required formControlName="eventName">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="eventDescription" rows="3" placeholder="Enter event description" required formControlName="description"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventDate">Date</label>
                            <input type="date" class="form-control" id="eventDate" required formControlName="date">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventVenue">Venue</label>
                            <input type="text" class="form-control" id="eventVenue" placeholder="Enter event venue" required formControlName="venue">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventCapacity">Capacity</label>
                            <input type="number" class="form-control" id="eventCapacity" placeholder="Enter event capacity" required formControlName="capacity">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventFee">Entry Fee</label>
                            <input type="number" class="form-control" id="eventFee" placeholder="Enter entry fee"  formControlName="price">
                        </div>
                        <div class="row m-0">
                            <button type="submit" class="btn btn-block submitbtn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
