<!-- <div class="card h-100 " style="width:100%">
    <div class="card-body">
        <h4 class="card-title text-center">{{title}}</h4>
        <h6 class="card-subtitle mb-2 text-body-secondary text-center">{{value}}</h6>
    </div>
</div> -->
<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{value}}</p>
    </div>
  </div> -->
  <div class="col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{value}}</p>
        </div>
      </div> 
  </div>