<div class="row my-3 m-0" *ngIf="role==='user'">
    <div class="col-6 d-flex justify-content-end">
        <app-card [title]="'View All Events'" [value]="totalEvents" type="button" routerLink="/viewAllEvents"></app-card>
    </div>
    <div class="col-6">
        <app-card [title]="'View All Registerd Events'" [value]="eventRegistered" type="button" routerLink="/"></app-card>
    </div>
</div>
<div class="row my-3 m-0" *ngIf="role==='admin'">
    <div class="col-4">
        <app-card [title]="'View All Events'" [value]="totalEvents" type="button" routerLink="/viewAllEvents"></app-card>
    </div>
    <div class="col-4">
        <app-card [title]="'View All Registerd Events'" [value]="eventRegistered" type="button" routerLink="/"></app-card>
    </div>
    <div class="col-4">
        <app-card [title]="'View All Users'" [value]="totalUsers" type="button" routerLink="/"></app-card>
    </div>
</div>